{% extends 'mainapp/base.html' %}
{% load static %}
{% block link_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}
{% block body_block %}
<div class="main">
    <p style="font-size: 130%">
        I am a Computer Science student at Cal Poly Pomona and programmer with many different
        computer skills:
    </p>
    <ul>
        <li><b>Programming & Web Development</b>: C/C++, Java, Python, HTML/CSS, JavaScript, Django, AndroidSDK</li>
        <li><b>Operation System Knowledge</b>: Windows, Linux/Unix, macOS</li>
        <li><b>Computer Science Knowledge</b>: Network Stack, Data Structures & Algorithms, SQL Databases</li>
        <li>Linux web server administration</li>
    </ul>
    <h1 class="title">My Programming Background</h1>
    <p>I enjoy writing programs in many different
        languages and for many different platforms. I am always trying to learn more andexpand my knowledge of computers
        as a whole.
        I have made desktop programs and games as well as programs for the Android operating system. In order to learn more
        about web development, I made this website, which also serves as a place for me to show my projects to the world.
        I currently study computer science at Cal Poly Pomona and hope that I might one day be able to get a job writing
        software and working with computers.
    </p>
    <p>My interest in computers started at a young age. Like many other children at the time, I played many video games
        on my computer as a kid and after hours and hours of playing these games I started to become curious about how
        these games worked. Upon attempting to learn the inner mechanisms of my favorite games, I developed a deeper
        interest in the nature of computers themselves. I learned about the mysterious “code” which ran the games I played
        and became interested in learning the code myself.
    </p>
    <p>As a kid I dabbled in learning how to program in everything from Java to LUA, which I used to try and make
        (semi-sucessfully) custom game modes for my favorite game, Garry’s Mod. In high school I began to seriously learn
        how to program, starting with C++ and later moving on to Java and other languages. I joined a programming club
        at my school and later took a AP Computer Science class. Ever since then, I have programmed on my free time,
        always attempting to learn different languages and technologies and always trying to expand my skill set.
    </p>
</div>
{% endblock %}
